.button {
    -fx-background-color:  #29292a;
    -fx-text-fill: #f7f7f7;
    -fx-text-alignment: left;
}

.button:hover {
    -fx-background-color:  #6a6d6e;
    -fx-text-fill: #f2f2f2;
}

.button:pressed {
    -fx-background-color:  #6a6d6e;
    -fx-text-fill: #f2f2f2;
}

.button:focused {
    -fx-background-color: #6a6d6e;
    -fx-text-fill: #f2f2f2;
}

.textField {
    -fx-background-color: #1a1b1c;
    -fx-text-fill: #93a3e5;
    -fx-text-alignment: left;
}

.textField: hover {
    -fx-background-color: #151616;
    -fx-text-fill: #93a3e5;
}

.textField: pressed {
    -fx-background-color: #151616;
    -fx-text-fill: #dadada;
    -fx-text-alignment: left;
}
.textField: focused{
    -fx-background-color: #151616;
    -fx-text-fill: #dadada;
    -fx-text-alignment: left;
}

.button2 {
    -fx-background-color:  #29292a;
}

.button2:hover {
    -fx-background-color:  #6a6d6e;
}

.button2:pressed {
    -fx-background-color:  #6a6d6e;
}


.textArea {
    -fx-background-color: #282829;
    -fx-text-fill: #f7f7f7;
    -fx-text-alignment: left;
}

.textArea: hover {
    -fx-background-color: #282829;
    -fx-text-fill: #f7f7f7;
}

.textArea: pressed {
    -fx-background-color: #282829;
    -fx-text-fill: #f7f7f7;
    -fx-text-alignment: left;
}
.textArea: focused{
    -fx-background-color: #282829;
    -fx-text-fill: #f7f7f7;
    -fx-text-alignment: left;
}


